/*
 * This file is part of the "icon_content" Extension for TYPO3 CMS.
 *
 * For the full copyright and license information, please read the
 * LICENSE file that was distributed with this source code.
 //*/

.ext-icon-content {
  .icon-list {
	padding: 0;
	margin: 15px 0 0;

	h5 {
	  font-weight: bold;
	  padding: 10px;
	  margin: 0;
	  background-color: #ededed;
	  border-bottom: 1px solid #ccc;
	}

	.row {
	  .item {
		border: 0 !important;
		color: rgba(0, 0, 0, .3);
		cursor: pointer;
		max-width: 40px;
		padding: 8px;

		&.active,
		&:hover {
		  color: rgba(0, 0, 0, 1);
		}
	  }

	  .empty {
		color: rgba(0, 0, 0, .7);
		padding: 5px 10px;
	  }
	}
  }
}
