/*
 * This file is part of the "icon_content" Extension for TYPO3 CMS.
 *
 * For the full copyright and license information, please read the
 * LICENSE file that was distributed with this source code.
 */
.ce-icon-content .text-left {
  text-align: left;
}
.ce-icon-content .text-center {
  text-align: center;
}
.ce-icon-content .text-right {
  text-align: right;
}
.ce-icon-content .float-left {
  float: left;
}
.ce-icon-content .float-right {
  float: right;
}
.ce-icon-content .mt-3 {
  margin-top: 1rem;
}
.ce-icon-content .mr-3 {
  margin-right: 1rem;
}
.ce-icon-content .mb-3 {
  margin-bottom: 1rem;
}
.ce-icon-content .ml-3 {
  margin-left: 1rem;
}
.ce-icon-content.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.ce-icon-content.d-flex {
  display: flex;
}
.ce-icon-content.d-flex > .flex-grow-1 {
  flex-grow: 1;
}

/*# sourceMappingURL=Frontend.css.map */
