/*
 * This file is part of the "icon_content" Extension for TYPO3 CMS.
 *
 * For the full copyright and license information, please read the
 * LICENSE file that was distributed with this source code.
 */

.ce-icon-content {
  .text-left {
	text-align: left;
  }

  .text-center {
	text-align: center;
  }

  .text-right {
	text-align: right;
  }

  .float-left {
	float: left;
  }

  .float-right {
	float: right;
  }

  .mt-3 {
	margin-top: 1rem;
  }

  .mr-3 {
	margin-right: 1rem;
  }

  .mb-3 {
	margin-bottom: 1rem;
  }

  .ml-3 {
	margin-left: 1rem;
  }

  &.clearfix:after {
	display: block;
	clear: both;
	content: "";
  }

  &.d-flex {
	display: flex;
	& > .flex-grow-1 {
	  flex-grow: 1;
	}
  }
}
