<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:lo="http://typo3.org/ns/Lavitto/IconContent/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Header">
	<f:render partial="Header/All" arguments="{_all}"/>
</f:section>

<f:section name="Main">
	<f:variable name="iconContentSettings"
				value="{lo:renderFlexFormSettings(flexform: data.pi_flexform, defaultSettings: settings.iconcontent)}"/>

	<div class="ce-icon-content{f:if(
		condition: '{data.imageorient} == 17 || {data.imageorient} == 18',
		then: ' clearfix'
		)}{f:if(
		condition: '{data.imageorient} == 25 || {data.imageorient} == 26',
		then: ' d-flex'
		)}">

		<f:comment><!--
			0 = Above, center			> icon before
			1 = Above, right			> icon before
			2 = Above, left				> icon before
			8 = Below, center			> icon after
			9 = Below, right			> icon after
			10 = Below, left			> icon after
			17 = In Text, right			> icon before
			18 = In Text, left			> icon before
			25 = Beside Text, right		> icon after
			26 = Beside Text, left		> icon before
		--></f:comment>
		<f:if condition="{data.imageorient} == 0 || {data.imageorient} == 1 || {data.imageorient} == 2 || {data.imageorient} == 17 || {data.imageorient} == 18 || {data.imageorient} == 26">
			<f:then>
				<f:render partial="IconContent/Icon" arguments="{_all}"/>
				<f:render partial="IconContent/Bodytext" arguments="{_all}"/>
			</f:then>
			<f:else>
				<f:render partial="IconContent/Bodytext" arguments="{_all}"/>
				<f:render partial="IconContent/Icon" arguments="{_all}"/>
			</f:else>
		</f:if>

	</div>
</f:section>

</html>
